<ion-view title="401" id="page5">
    <ion-content padding="true" class="has-header" data-ng-init="newTask()">
	
    
		
		<!--<p>{{categories[0].salthill}}</p> 
		<p>{{categories[1].salthill}}</p>
		<p>{{categories[2].salthill}}</p>
		<p>{{categories[3].salthill}}</p>-->
		<!--<table style="width:25%">
  <tr>
    <td>{{categories[0].salthill}}</td>
    <td>{{categories[0].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[1].salthill}}</td>
    <td>{{categories[1].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[2].salthill}}</td>
    <td>{{categories[2].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[3].salthill}}</td>
    <td>{{categories[3].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[4].salthill}}</td>
    <td>{{categories[4].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[5].salthill}}</td>
    <td>{{categories[5].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[6].salthill}}</td>
    <td>{{categories[6].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[8].salthill}}</td>
    <td>{{categories[8].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[9].salthill}}</td>
    <td>{{categories[9].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[10].salthill}}</td>
    <td>{{categories[10].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[11].salthill}}</td>
    <td>{{categories[11].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[12].salthill}}</td>
    <td>{{categories[12].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[13].salthill}}</td>
    <td>{{categories[13].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[14].salthill}}</td>
    <td>{{categories[14].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[15].salthill}}</td>
    <td>{{categories[15].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[16].salthill}}</td>
    <td>{{categories[16].eyre_square}}</td>		
  </tr>
</table>-->
		
		
		


	
	
	</ion-content>
</ion-view>