<ion-view title="401" id="page5">
    <ion-content padding="true" class="has-header" data-ng-init="newTask()">
	
    
		
		<!--<p>{{categories[0].salthill}}</p> 
		<p>{{categories[1].salthill}}</p>
		<p>{{categories[2].salthill}}</p>
		<p>{{categories[3].salthill}}</p>-->
		<table style="width:100%">
		<tr>
    <td>salthill</td>
    <td>eyre square</td>		
  </tr>
  <tr>
    <td>{{categories[0].salthill}}</td>
    <td>{{categories[0].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[1].salthill}}</td>
    <td>{{categories[1].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[2].salthill}}</td>
    <td>{{categories[2].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[3].salthill}}</td>
    <td>{{categories[3].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[4].salthill}}</td>
    <td>{{categories[4].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[5].salthill}}</td>
    <td>{{categories[5].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[6].salthill}}</td>
    <td>{{categories[6].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[8].salthill}}</td>
    <td>{{categories[8].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[9].salthill}}</td>
    <td>{{categories[9].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[10].salthill}}</td>
    <td>{{categories[10].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[11].salthill}}</td>
    <td>{{categories[11].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[12].salthill}}</td>
    <td>{{categories[12].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[13].salthill}}</td>
    <td>{{categories[13].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[14].salthill}}</td>
    <td>{{categories[14].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[15].salthill}}</td>
    <td>{{categories[15].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[16].salthill}}</td>
    <td>{{categories[16].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[17].salthill}}</td>
    <td>{{categories[17].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[18].salthill}}</td>
    <td>{{categories[18].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[19].salthill}}</td>
    <td>{{categories[19].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[20].salthill}}</td>
    <td>{{categories[20].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[21].salthill}}</td>
    <td>{{categories[21].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[22].salthill}}</td>
    <td>{{categories[22].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[23].salthill}}</td>
    <td>{{categories[23].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[24].salthill}}</td>
    <td>{{categories[24].eyre_square}}</td>		
  </tr>
   <tr>
    <td>{{categories[25].salthill}}</td>
    <td>{{categories[25].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[26].salthill}}</td>
    <td>{{categories[26].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[27].salthill}}</td>
    <td>{{categories[27].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[28].salthill}}</td>
    <td>{{categories[28].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[29].salthill}}</td>
    <td>{{categories[29].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[30].salthill}}</td>
    <td>{{categories[30].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[31].salthill}}</td>
    <td>{{categories[31].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[32].salthill}}</td>
    <td>{{categories[32].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[33].salthill}}</td>
    <td>{{categories[33].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[34].salthill}}</td>
    <td>{{categories[34].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[35].salthill}}</td>
    <td>{{categories[35].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[36].salthill}}</td>
    <td>{{categories[36].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[37].salthill}}</td>
    <td>{{categories[37].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[38].salthill}}</td>
    <td>{{categories[38].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[39].salthill}}</td>
    <td>{{categories[39].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[40].salthill}}</td>
    <td>{{categories[40].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[41].salthill}}</td>
    <td>{{categories[41].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[42].salthill}}</td>
    <td>{{categories[42].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[43].salthill}}</td>
    <td>{{categories[43].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[44].salthill}}</td>
    <td>{{categories[44].eyre_square}}</td>		
  </tr>
  <tr>
    <td>{{categories[45].salthill}}</td>
    <td>{{categories[45].eyre_square}}</td>		
  </tr>
</table>
		
		


	
	
	</ion-content>
</ion-view>