<ion-view title="402" id="page6">
    <ion-content padding="true" class="has-header" data-ng-init="newTask()">
	
	
		<table style="width:100%">
		<tr>
    <td>Merlin_park</td>
    <td>eyre square</td>
	<td>seacrest</td>
  </tr>
  <tr>
    <td>{{categories[0].merlin_park}}</td>
    <td>{{categories[0].eyre_square}}</td>
	<td>{{categories[0].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[1].merlin_park}}</td>
    <td>{{categories[1].eyre_square}}</td>
	<td>{{categories[1].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[2].merlin_park}}</td>
    <td>{{categories[2].eyre_square}}</td>
	<td>{{categories[2].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[3].merlin_park}}</td>
    <td>{{categories[3].eyre_square}}</td>
	<td>{{categories[3].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[4].merlin_park}}</td>
    <td>{{categories[4].eyre_square}}</td>
	<td>{{categories[4].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[5].merlin_park}}</td>
    <td>{{categories[5].eyre_square}}</td>
	<td>{{categories[5].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[6].merlin_park}}</td>
    <td>{{categories[6].eyre_square}}</td>
	<td>{{categories[6].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[7].merlin_park}}</td>
    <td>{{categories[7].eyre_square}}</td>
	<td>{{categories[7].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[8].merlin_park}}</td>
    <td>{{categories[8].eyre_square}}</td>
	<td>{{categories[8].seacrest}}</td>	
  </tr>
   <tr>
    <td>{{categories[9].merlin_park}}</td>
    <td>{{categories[9].eyre_square}}</td>
	<td>{{categories[9].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[10].merlin_park}}</td>
    <td>{{categories[10].eyre_square}}</td>
	<td>{{categories[10].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[11].merlin_park}}</td>
    <td>{{categories[11].eyre_square}}</td>
	<td>{{categories[11].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[12].merlin_park}}</td>
    <td>{{categories[12].eyre_square}}</td>
	<td>{{categories[12].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[13].merlin_park}}</td>
    <td>{{categories[13].eyre_square}}</td>
	<td>{{categories[13].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[14].merlin_park}}</td>
    <td>{{categories[14].eyre_square}}</td>
	<td>{{categories[14].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[15].merlin_park}}</td>
    <td>{{categories[15].eyre_square}}</td>
	<td>{{categories[15].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[16].merlin_park}}</td>
    <td>{{categories[16].eyre_square}}</td>
	<td>{{categories[16].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[17].merlin_park}}</td>
    <td>{{categories[17].eyre_square}}</td>
	<td>{{categories[17].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[18].merlin_park}}</td>
    <td>{{categories[18].eyre_square}}</td>
	<td>{{categories[18].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[19].merlin_park}}</td>
    <td>{{categories[19].eyre_square}}</td>
	<td>{{categories[19].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[20].merlin_park}}</td>
    <td>{{categories[20].eyre_square}}</td>
	<td>{{categories[20].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[21].merlin_park}}</td>
    <td>{{categories[21].eyre_square}}</td>
	<td>{{categories[21].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[22].merlin_park}}</td>
    <td>{{categories[22].eyre_square}}</td>
	<td>{{categories[22].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[23].merlin_park}}</td>
    <td>{{categories[23].eyre_square}}</td>
	<td>{{categories[23].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[24].merlin_park}}</td>
    <td>{{categories[24].eyre_square}}</td>
	<td>{{categories[24].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[25].merlin_park}}</td>
    <td>{{categories[25].eyre_square}}</td>
	<td>{{categories[25].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[26].merlin_park}}</td>
    <td>{{categories[26].eyre_square}}</td>
	<td>{{categories[26].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[27].merlin_park}}</td>
    <td>{{categories[27].eyre_square}}</td>
	<td>{{categories[27].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[28].merlin_park}}</td>
    <td>{{categories[28].eyre_square}}</td>
	<td>{{categories[28].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[29].merlin_park}}</td>
    <td>{{categories[29].eyre_square}}</td>
	<td>{{categories[29].seacrest}}</td>	
  </tr>
     <tr>
    <td>{{categories[30].merlin_park}}</td>
    <td>{{categories[30].eyre_square}}</td>
	<td>{{categories[30].seacrest}}</td>	
  </tr>
  
  
  
</table>
	
	
	</ion-content>
</ion-view>