<ion-view title="404" id="page8" data-ng-init="newTask()">
    <ion-content padding="true" class="has-header">
	<!--westside_SC-->
	
		<table style="width:100%">
		<tr>
    <td>westside SC</td>
    <td>corrib_village</td>
	<td>eyre_square</td>
  </tr>
  <tr>
    <td>{{categories[0].westside_SC}}</td>
    <td>{{categories[0].corrib_village}}</td>
	<td>{{categories[0].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[1].westside_SC}}</td>
    <td>{{categories[1].corrib_village}}</td>
	<td>{{categories[1].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[2].westside_SC}}</td>
    <td>{{categories[2].corrib_village}}</td>
	<td>{{categories[2].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[3].westside_SC}}</td>
    <td>{{categories[3].corrib_village}}</td>
	<td>{{categories[3].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[4].westside_SC}}</td>
    <td>{{categories[4].corrib_village}}</td>
	<td>{{categories[4].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[5].westside_SC}}</td>
    <td>{{categories[5].corrib_village}}</td>
	<td>{{categories[5].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[6].westside_SC}}</td>
    <td>{{categories[6].corrib_village}}</td>
	<td>{{categories[6].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[7].westside_SC}}</td>
    <td>{{categories[7].corrib_village}}</td>
	<td>{{categories[7].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[8].westside_SC}}</td>
    <td>{{categories[8].corrib_village}}</td>
	<td>{{categories[8].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[9].westside_SC}}</td>
    <td>{{categories[9].corrib_village}}</td>
	<td>{{categories[9].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[10].westside_SC}}</td>
    <td>{{categories[10].corrib_village}}</td>
	<td>{{categories[10].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[11].westside_SC}}</td>
    <td>{{categories[11].corrib_village}}</td>
	<td>{{categories[11].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[12].westside_SC}}</td>
    <td>{{categories[12].corrib_village}}</td>
	<td>{{categories[12].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[13].westside_SC}}</td>
    <td>{{categories[13].corrib_village}}</td>
	<td>{{categories[13].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[14].westside_SC}}</td>
    <td>{{categories[14].corrib_village}}</td>
	<td>{{categories[14].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[15].westside_SC}}</td>
    <td>{{categories[15].corrib_village}}</td>
	<td>{{categories[15].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[16].westside_SC}}</td>
    <td>{{categories[16].corrib_village}}</td>
	<td>{{categories[16].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[17].westside_SC}}</td>
    <td>{{categories[17].corrib_village}}</td>
	<td>{{categories[17].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[18].westside_SC}}</td>
    <td>{{categories[18].corrib_village}}</td>
	<td>{{categories[18].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[19].westside_SC}}</td>
    <td>{{categories[19].corrib_village}}</td>
	<td>{{categories[19].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[20].westside_SC}}</td>
    <td>{{categories[20].corrib_village}}</td>
	<td>{{categories[20].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[21].westside_SC}}</td>
    <td>{{categories[21].corrib_village}}</td>
	<td>{{categories[21].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[22].westside_SC}}</td>
    <td>{{categories[22].corrib_village}}</td>
	<td>{{categories[22].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[23].westside_SC}}</td>
    <td>{{categories[23].corrib_village}}</td>
	<td>{{categories[23].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[24].westside_SC}}</td>
    <td>{{categories[24].corrib_village}}</td>
	<td>{{categories[24].eyre_square}}</td>	
  </tr>
 
  
</table>
	
	
	</ion-content>
</ion-view>