<ion-view title="405" id="page9" data-ng-init="newTask()">
    <ion-content padding="true" class="has-header">
	
			<table style="width:100%">
		<tr>
    <td>B&QRahoon </td>
    <td>eyre_square</td>
	<td>ballybane</td>
  </tr>
  <tr>
    <td>{{categories[0].rahoon}}</td>
    <td>{{categories[0].eyre_square}}</td>
	<td>{{categories[0].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[1].rahoon}}</td>
    <td>{{categories[1].eyre_square}}</td>
	<td>{{categories[1].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[2].rahoon}}</td>
    <td>{{categories[2].eyre_square}}</td>
	<td>{{categories[2].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[3].rahoon}}</td>
    <td>{{categories[3].eyre_square}}</td>
	<td>{{categories[3].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[4].rahoon}}</td>
    <td>{{categories[4].eyre_square}}</td>
	<td>{{categories[4].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[5].rahoon}}</td>
    <td>{{categories[5].eyre_square}}</td>
	<td>{{categories[5].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[6].rahoon}}</td>
    <td>{{categories[6].eyre_square}}</td>
	<td>{{categories[6].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[7].rahoon}}</td>
    <td>{{categories[7].eyre_square}}</td>
	<td>{{categories[7].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[8].rahoon}}</td>
    <td>{{categories[8].eyre_square}}</td>
	<td>{{categories[8].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[9].rahoon}}</td>
    <td>{{categories[9].eyre_square}}</td>
	<td>{{categories[9].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[10].rahoon}}</td>
    <td>{{categories[10].eyre_square}}</td>
	<td>{{categories[10].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[11].rahoon}}</td>
    <td>{{categories[11].eyre_square}}</td>
	<td>{{categories[11].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[12].rahoon}}</td>
    <td>{{categories[12].eyre_square}}</td>
	<td>{{categories[12].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[13].rahoon}}</td>
    <td>{{categories[13].eyre_square}}</td>
	<td>{{categories[13].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[14].rahoon}}</td>
    <td>{{categories[14].eyre_square}}</td>
	<td>{{categories[14].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[15].rahoon}}</td>
    <td>{{categories[15].eyre_square}}</td>
	<td>{{categories[15].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[16].rahoon}}</td>
    <td>{{categories[16].eyre_square}}</td>
	<td>{{categories[16].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[17].rahoon}}</td>
    <td>{{categories[17].eyre_square}}</td>
	<td>{{categories[17].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[18].rahoon}}</td>
    <td>{{categories[18].eyre_square}}</td>
	<td>{{categories[18].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[19].rahoon}}</td>
    <td>{{categories[19].eyre_square}}</td>
	<td>{{categories[19].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[20].rahoon}}</td>
    <td>{{categories[20].eyre_square}}</td>
	<td>{{categories[20].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[21].rahoon}}</td>
    <td>{{categories[21].eyre_square}}</td>
	<td>{{categories[21].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[22].rahoon}}</td>
    <td>{{categories[22].eyre_square}}</td>
	<td>{{categories[22].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[23].rahoon}}</td>
    <td>{{categories[23].eyre_square}}</td>
	<td>{{categories[23].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[24].rahoon}}</td>
    <td>{{categories[24].eyre_square}}</td>
	<td>{{categories[24].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[25].rahoon}}</td>
    <td>{{categories[25].eyre_square}}</td>
	<td>{{categories[25].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[26].rahoon}}</td>
    <td>{{categories[26].eyre_square}}</td>
	<td>{{categories[26].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[27].rahoon}}</td>
    <td>{{categories[27].eyre_square}}</td>
	<td>{{categories[27].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[28].rahoon}}</td>
    <td>{{categories[28].eyre_square}}</td>
	<td>{{categories[28].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[29].rahoon}}</td>
    <td>{{categories[29].eyre_square}}</td>
	<td>{{categories[29].ballybane}}</td>	
  </tr>
     <tr>
    <td>{{categories[30].rahoon}}</td>
    <td>{{categories[30].eyre_square}}</td>
	<td>{{categories[30].ballybane}}</td>	
  </tr>
  <tr>
    <td>{{categories[31].rahoon}}</td>
    <td>{{categories[31].eyre_square}}</td>
	<td>{{categories[31].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[32].rahoon}}</td>
    <td>{{categories[32].eyre_square}}</td>
	<td>{{categories[32].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[33].rahoon}}</td>
    <td>{{categories[33].eyre_square}}</td>
	<td>{{categories[33].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[34].rahoon}}</td>
    <td>{{categories[34].eyre_square}}</td>
	<td>{{categories[34].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[35].rahoon}}</td>
    <td>{{categories[35].eyre_square}}</td>
	<td>{{categories[35].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[36].rahoon}}</td>
    <td>{{categories[36].eyre_square}}</td>
	<td>{{categories[36].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[37].rahoon}}</td>
    <td>{{categories[37].eyre_square}}</td>
	<td>{{categories[37].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[38].rahoon}}</td>
    <td>{{categories[38].eyre_square}}</td>
	<td>{{categories[38].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[39].rahoon}}</td>
    <td>{{categories[39].eyre_square}}</td>
	<td>{{categories[39].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[40].rahoon}}</td>
    <td>{{categories[40].eyre_square}}</td>
	<td>{{categories[40].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[41].rahoon}}</td>
    <td>{{categories[41].eyre_square}}</td>
	<td>{{categories[41].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[42].rahoon}}</td>
    <td>{{categories[42].eyre_square}}</td>
	<td>{{categories[42].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[43].rahoon}}</td>
    <td>{{categories[43].eyre_square}}</td>
	<td>{{categories[43].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[44].rahoon}}</td>
    <td>{{categories[44].eyre_square}}</td>
	<td>{{categories[44].ballybane}}</td>	
  </tr>
   <tr>
    <td>{{categories[45].rahoon}}</td>
    <td>{{categories[45].eyre_square}}</td>
	<td>{{categories[45].ballybane}}</td>	
  </tr>
  
  
</table>
	
	
	
	
	
	</ion-content>
</ion-view>