<ion-view title="407" id="page10" data-ng-init="newTask()">
    <ion-content padding="true" class="has-header">
	<!--Bothar an Choiste-->
	
	<table style="width:100%">
		<tr>
    <td>Bothar an Choiste</td>
    <td>crestwood</td>
	<td>eyre_square</td>
  </tr>
  <tr>
    <td>{{categories[0].bothar}}</td>
    <td>{{categories[0].crestwood}}</td>
	<td>{{categories[0].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[1].bothar}}</td>
    <td>{{categories[1].crestwood}}</td>
	<td>{{categories[1].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[2].bothar}}</td>
    <td>{{categories[2].crestwood}}</td>
	<td>{{categories[2].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[3].bothar}}</td>
    <td>{{categories[3].crestwood}}</td>
	<td>{{categories[3].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[4].bothar}}</td>
    <td>{{categories[4].crestwood}}</td>
	<td>{{categories[4].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[5].bothar}}</td>
    <td>{{categories[5].crestwood}}</td>
	<td>{{categories[5].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[6].bothar}}</td>
    <td>{{categories[6].crestwood}}</td>
	<td>{{categories[6].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[7].bothar}}</td>
    <td>{{categories[7].crestwood}}</td>
	<td>{{categories[7].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[8].bothar}}</td>
    <td>{{categories[8].crestwood}}</td>
	<td>{{categories[8].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[9].bothar}}</td>
    <td>{{categories[9].crestwood}}</td>
	<td>{{categories[9].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[10].bothar}}</td>
    <td>{{categories[10].crestwood}}</td>
	<td>{{categories[10].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[11].bothar}}</td>
    <td>{{categories[11].crestwood}}</td>
	<td>{{categories[11].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[12].bothar}}</td>
    <td>{{categories[12].crestwood}}</td>
	<td>{{categories[12].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[13].bothar}}</td>
    <td>{{categories[13].crestwood}}</td>
	<td>{{categories[13].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[14].bothar}}</td>
    <td>{{categories[14].crestwood}}</td>
	<td>{{categories[14].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[15].bothar}}</td>
    <td>{{categories[15].crestwood}}</td>
	<td>{{categories[15].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[16].bothar}}</td>
    <td>{{categories[16].crestwood}}</td>
	<td>{{categories[16].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[17].bothar}}</td>
    <td>{{categories[17].crestwood}}</td>
	<td>{{categories[17].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[18].bothar}}</td>
    <td>{{categories[18].crestwood}}</td>
	<td>{{categories[18].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[19].bothar}}</td>
    <td>{{categories[19].crestwood}}</td>
	<td>{{categories[19].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[20].bothar}}</td>
    <td>{{categories[20].crestwood}}</td>
	<td>{{categories[20].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[21].bothar}}</td>
    <td>{{categories[21].crestwood}}</td>
	<td>{{categories[21].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[22].bothar}}</td>
    <td>{{categories[22].crestwood}}</td>
	<td>{{categories[22].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[23].bothar}}</td>
    <td>{{categories[23].crestwood}}</td>
	<td>{{categories[23].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[24].bothar}}</td>
    <td>{{categories[24].crestwood}}</td>
	<td>{{categories[24].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[25].bothar}}</td>
    <td>{{categories[25].crestwood}}</td>
	<td>{{categories[25].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[26].bothar}}</td>
    <td>{{categories[26].crestwood}}</td>
	<td>{{categories[26].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[27].bothar}}</td>
    <td>{{categories[27].crestwood}}</td>
	<td>{{categories[27].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[28].bothar}}</td>
    <td>{{categories[28].crestwood}}</td>
	<td>{{categories[28].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[29].bothar}}</td>
    <td>{{categories[29].crestwood}}</td>
	<td>{{categories[29].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[30].bothar}}</td>
    <td>{{categories[30].crestwood}}</td>
	<td>{{categories[30].eyre_square}}</td>	
  </tr>
  <tr>
    <td>{{categories[31].bothar}}</td>
    <td>{{categories[31].crestwood}}</td>
	<td>{{categories[31].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[32].bothar}}</td>
    <td>{{categories[32].crestwood}}</td>
	<td>{{categories[32].eyre_square}}</td>	
  </tr>


  
  
</table>
	
	
	
	</ion-content>
</ion-view>