<ion-view title="409" id="page11" data-ng-init="newTask()">
    <ion-content padding="true" class="has-header">
	
	<table style="width:100%">
		<tr>
    <td>Parkmore Rd</td>
    <td>dublin rd</td>
	<td>eyre_square</td>
  </tr>
  <tr>
    <td>{{categories[0].parkmore}}</td>
    <td>{{categories[0].dublin}}</td>
	<td>{{categories[0].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[1].parkmore}}</td>
    <td>{{categories[1].dublin}}</td>
	<td>{{categories[1].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[2].parkmore}}</td>
    <td>{{categories[2].dublin}}</td>
	<td>{{categories[2].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[3].parkmore}}</td>
    <td>{{categories[3].dublin}}</td>
	<td>{{categories[3].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[4].parkmore}}</td>
    <td>{{categories[4].dublin}}</td>
	<td>{{categories[4].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[5].parkmore}}</td>
    <td>{{categories[5].dublin}}</td>
	<td>{{categories[5].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[6].parkmore}}</td>
    <td>{{categories[6].dublin}}</td>
	<td>{{categories[6].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[7].parkmore}}</td>
    <td>{{categories[7].dublin}}</td>
	<td>{{categories[7].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[8].parkmore}}</td>
    <td>{{categories[8].dublin}}</td>
	<td>{{categories[8].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[9].parkmore}}</td>
    <td>{{categories[9].dublin}}</td>
	<td>{{categories[9].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[10].parkmore}}</td>
    <td>{{categories[10].dublin}}</td>
	<td>{{categories[10].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[11].parkmore}}</td>
    <td>{{categories[11].dublin}}</td>
	<td>{{categories[11].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[12].parkmore}}</td>
    <td>{{categories[12].dublin}}</td>
	<td>{{categories[12].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[13].parkmore}}</td>
    <td>{{categories[13].dublin}}</td>
	<td>{{categories[13].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[14].parkmore}}</td>
    <td>{{categories[14].dublin}}</td>
	<td>{{categories[14].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[15].parkmore}}</td>
    <td>{{categories[15].dublin}}</td>
	<td>{{categories[15].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[16].parkmore}}</td>
    <td>{{categories[16].dublin}}</td>
	<td>{{categories[16].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[17].parkmore}}</td>
    <td>{{categories[17].dublin}}</td>
	<td>{{categories[17].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[18].parkmore}}</td>
    <td>{{categories[18].dublin}}</td>
	<td>{{categories[18].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[19].parkmore}}</td>
    <td>{{categories[19].dublin}}</td>
	<td>{{categories[19].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[20].parkmore}}</td>
    <td>{{categories[20].dublin}}</td>
	<td>{{categories[20].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[21].parkmore}}</td>
    <td>{{categories[21].dublin}}</td>
	<td>{{categories[21].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[22].parkmore}}</td>
    <td>{{categories[22].dublin}}</td>
	<td>{{categories[22].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[23].parkmore}}</td>
    <td>{{categories[23].dublin}}</td>
	<td>{{categories[23].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[24].parkmore}}</td>
    <td>{{categories[24].dublin}}</td>
	<td>{{categories[24].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[25].parkmore}}</td>
    <td>{{categories[25].dublin}}</td>
	<td>{{categories[25].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[26].parkmore}}</td>
    <td>{{categories[26].dublin}}</td>
	<td>{{categories[26].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[27].parkmore}}</td>
    <td>{{categories[27].dublin}}</td>
	<td>{{categories[27].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[28].parkmore}}</td>
    <td>{{categories[28].dublin}}</td>
	<td>{{categories[28].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[29].parkmore}}</td>
    <td>{{categories[29].dublin}}</td>
	<td>{{categories[29].eyre_square}}</td>	
  </tr>
     <tr>
    <td>{{categories[30].parkmore}}</td>
    <td>{{categories[30].dublin}}</td>
	<td>{{categories[30].eyre_square}}</td>	
  </tr>
  <tr>
    <td>{{categories[31].parkmore}}</td>
    <td>{{categories[31].dublin}}</td>
	<td>{{categories[31].eyre_square}}</td>	
  </tr>
   <tr>
    <td>{{categories[32].parkmore}}</td>
    <td>{{categories[32].dublin}}</td>
	<td>{{categories[32].eyre_square}}</td>	
  </tr>


  
  
</table>
	
	</ion-content>
</ion-view>