<ion-view title="410" id="page12" data-ng-init="newTask()">
    <ion-content padding="true" class="has-header">
	
			<table style="width:100%">
		<tr>
    <td>Eyre Square</td>
    <td>dublin rd.</td>
	<td>oranmore rd.</td>
  </tr>
  <tr>
    <td>{{categories[0].eyre_square}}</td>
    <td>{{categories[0].dublin}}</td>
	<td>{{categories[0].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[1].eyre_square}}</td>
    <td>{{categories[1].dublin}}</td>
	<td>{{categories[1].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[2].eyre_square}}</td>
    <td>{{categories[2].dublin}}</td>
	<td>{{categories[2].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[3].eyre_square}}</td>
    <td>{{categories[3].dublin}}</td>
	<td>{{categories[3].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[4].eyre_square}}</td>
    <td>{{categories[4].dublin}}</td>
	<td>{{categories[4].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[5].eyre_square}}</td>
    <td>{{categories[5].dublin}}</td>
	<td>{{categories[5].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[6].eyre_square}}</td>
    <td>{{categories[6].dublin}}</td>
	<td>{{categories[6].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[7].eyre_square}}</td>
    <td>{{categories[7].dublin}}</td>
	<td>{{categories[7].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[8].eyre_square}}</td>
    <td>{{categories[8].dublin}}</td>
	<td>{{categories[8].oranmore}}</td>	
  </tr>
   <tr>
    <td>{{categories[9].eyre_square}}</td>
    <td>{{categories[9].dublin}}</td>
	<td>{{categories[9].oranmore}}</td>	
  </tr>
     <tr>
    <td>{{categories[10].eyre_square}}</td>
    <td>{{categories[10].dublin}}</td>
	<td>{{categories[10].oranmore}}</td>	
  </tr>
     <tr>
    <td>{{categories[11].eyre_square}}</td>
    <td>{{categories[11].dublin}}</td>
	<td>{{categories[11].oranmore}}</td>	
  </tr>
     <tr>
    <td>{{categories[12].eyre_square}}</td>
    <td>{{categories[12].dublin}}</td>
	<td>{{categories[12].oranmore}}</td>	
  </tr>
     <tr>
    <td>{{categories[13].eyre_square}}</td>
    <td>{{categories[13].dublin}}</td>
	<td>{{categories[13].oranmore}}</td>	
  </tr>
 
  
  
</table>
	
	</ion-content>
</ion-view>