<ion-view title="Home Page" id="page2">
    <ion-content padding="true" class="has-header">
	
	<head>
<style>
body {background-color: lightgrey;}
h3   {color: red;}
p    {color: green;}
</style>
</head>
<body>

<h3 align="center">Welcome to Bus Eireann time tables</h3>

<p align="center">This is the time tables of the local buses in Galway City.</p>
<br></br>
<p align="center">Standard Prices</p>
<ul>
  <li align="center">Adult: €2.10</li>
  <li align="center">Child:  €1.20</li>
  <li align="center">School-child:  €1.00</li>
  <li align="center">Adult Day-saver city pass: €4.40</li>
</ul>
<br></br>
<p align="center">Leap Card Prices</p>
<ul>
  <li align="center">Adult: €1.60</li>
  <li align="center">Child:  €0.91</li>
  <li align="center">School-child: €0.76</li>
</ul>
<br></br>
<p align="center">Weekly city-service tickets</p>
<ul>
  <li align="center">Adult: €20.80</li>
  <li align="center">Child:  €21.70</li>
  <li align="center">School-child: €8.70</li>
</ul>
<br></br>
<p align="center">Monthly city-service tickets</p>
<ul>
  <li align="center">Adult: €72.90</li>
  <li align="center">Student:  €57.50</li>
  <li align="center">Child: €32.10</li>
</ul>

</body>
</html>
	
	
	
	
	
	
	
	
	</ion-content>
</ion-view>