<ion-view title="Time Table Page" id="page3">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.401" id="timeTablePage-button1" class="button button-positive  button-block">401 Salthill - Eyre Square</a>
        <a ui-sref="tabsController.402" id="timeTablePage-button2" class="button button-positive  button-block">402 Merlin Park - Eyre Square - Seacrest</a>
        <a ui-sref="tabsController.403" id="timeTablePage-button3" class="button button-positive  button-block">403 Castlepark - Eyre Square</a>
        <a ui-sref="tabsController.404" id="timeTablePage-button4" class="button button-positive  button-block">404 Newcastle - Eyre Square</a>
        <a ui-sref="tabsController.405" id="timeTablePage-button6" class="button button-positive  button-block">405 Rahoon - Eyre Square - Ballybane</a>
        <a ui-sref="tabsController.407" id="timeTablePage-button5" class="button button-positive  button-block">407 Bóthar an Chóiste to Eyre Square</a>
        <a ui-sref="tabsController.409" id="timeTablePage-button7" class="button button-positive  button-block">409 Parkmore Industrial Estate to Eyre Square</a>
        <a ui-sref="tabsController.410" id="timeTablePage-button8" class="button button-positive  button-block">410 Eyre Square - Oranmore</a>
    </ion-content>
</ion-view>